.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.3s;
}

.navbar.scrolled {
  top: -80px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 90px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-genre {
  position: relative;
}

.navbar-genre-btn {
  background-color: transparent; 
  border: none;
  padding: 5px 20px; 
  cursor: pointer;
  font-size: 18px; 
  color: #333; 
  transition: color 0.3s, background-color 0.3s; 
}

.navbar-genre-btn:hover {
  color: #fff; 
  background-color: #f89e71; 
}


.navbar-genre-menu {
  position: absolute;
  top: 100%; 
  right: 0;
  display: none; 
  flex-direction: column; 
  padding: 10px; 
  background-color: #ffffff;
  border-radius: 8px; 
  border: 1px solid #c7c5c5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Show the dropdown menu on hover */
.navbar-genre:hover .navbar-genre-menu {
  display: block;
}

.navbar-genre-item {
  padding: 8px 16px; 
  font-size: 16px; 
  color: #333; 
  text-decoration: none; 
  transition: background-color 0.3s; 
}

.navbar-genre-item:hover {
  background-color: #f9f9f9;
}

.navbar-cart {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.navbar-cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.cart-badge {
  background-color: #c45d5a; 
  color: #fff; 
  border-radius: 50%; 
  padding: 8px;
  font-size: 14px; 
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  right: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s, color 0.3s; 
}

.cart-badge:hover {
  background-color: #a43a37;
  transform: scale(1.05); 
}
